<app-dashboard-container>
  <h4>Gastos</h4>

  <div class="flex gap-3">
    <p-iconField iconPosition="right">
      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
      <p-inputIcon styleClass="pi pi-calendar" />
    </p-iconField>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText [(ngModel)]="query" placeholder="Buscar..." />
    </p-iconField>
    <p-button (onClick)="addExpense()" label="Agregar Gasto"></p-button>
  </div>

  <p-table [value]="products" tableStyleClass="mt-4" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td>

        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-expense-form-modal [visible]="visibleModal"
    (visibilityChanged)="changeVisibleModal($event)"></app-expense-form-modal>
</app-dashboard-container>
