<div class="sidebar">
  <div class="profile">
    <img src="https://robohash.org/profile-image.png?size=150x150" alt="Profile Image">
    <div class="dropdown">
      <button class="dropbtn">Logout</button>
      <div class="dropdown-content">
        <a href="#">Logout</a>
      </div>
    </div>
  </div>
  <ul class="menu">
    <li><a routerLink="/">Balance</a></li>
    <li>
      <a routerLink="/expenses">Gastos</a>
    </li>
    <li><a href="#">Ingresos</a></li>
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Usuarios</a></li>
  </ul>
</div>
